langchain
langchain-groq
python-dotenv
psutil

langchain-core 
langchain-community 
langchain-huggingface
langchain-text-splitters
transformers
huggingface-hub
numpy
scikit-learn
torch
grandalf
pypdf
beautifulsoup4
chromadb 
langchain-chroma
sentence-transformers
faiss-cpu